{% extends "pages/_base.jinja" %}

{% block content %}

<h1> {{ cat.name }}'s profile </h1>

<p>The list below comes from data passed in...</p>

<ul>

    
        
        <li>{{ cat.name }} is epic and has id: {{ cat.id }}</li>

    

</ul>

{% endblock %}